*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --azure: #40C4FF

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    
}