*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --azure: #40C4FF;
    --header-height: 500px;
    --background-footer: #222222;
    --card-background: #F2F8FC;
    --primary-font-size: 1.5rem;
    --txt-color: #ABABAB;

}
img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;   
    
}

.small-container {
    width: 80%;
    margin: 0 auto;
}